## Data Modelling - KNNBasic

### Collaborative Filetering (CF) - ~Behaiour Based~

In [ ]:
from surprise import Dataset, Reader, KNNBasic
from surprise.model_selection import train_test_split
from surprise import accuracy
from surprise.model_selection import cross_validate
import pandas as pd

In [2]:
train = pd.read_csv('train_movies_rating.csv')
train.head()

,movieId,title,genres,userId,rating,dt,year,(no genres listed),Action,Adventure,...,Romance,Sci-Fi,Thriller,War,Western,avg_movie_rating,rating_count,user_avg_rating,user_rating_count,user_std_rating
0,804,She's the One,"['Comedy', 'Romance']",1,4.0,2000-07-30 18:08:19,1996.0,0,0,0,...,1,0,0,0,0,3.250000,8,4.367965,231,0.80142
1,1210,Star Wars: Episode VI - Return of the Jedi,"['Action', 'Adventure', 'Sci-Fi']",1,5.0,2000-07-30 18:08:19,1983.0,0,1,1,...,0,1,0,0,0,4.137755,196,4.367965,231,0.80142
2,2018,Bambi,"['Animation', 'Children', 'Drama']",1,5.0,2000-07-30 18:08:43,1942.0,0,0,0,...,0,0,0,0,0,3.361111,36,4.367965,231,0.80142
3,2628,Star Wars: Episode I - The Phantom Menace,"['Action', 'Adventure', 'Sci-Fi']",1,4.0,2000-07-30 18:08:43,1999.0,0,1,1,...,0,1,0,0,0,3.086957,138,4.367965,231,0.80142
4,2826,"13th Warrior, The","['Action', 'Adventure', 'Fantasy']",1,4.0,2000-07-30 18:08:43,1999.0,0,1,1,...,0,0,0,0,0,2.903846,26,4.367965,231,0.80142

### Using KNNBasic

In [3]:
df = train[['userId', 'movieId', 'rating']]

In [4]:
df.head()

   userId  movieId  rating
0       1      804     4.0
1       1     1210     5.0
2       1     2018     5.0
3       1     2628     4.0
4       1     2826     4.0

In [5]:
# Define Reader (to tell Surprise how to interpret the scale)
reader = Reader(rating_scale=(0.5, 5.0))

In [6]:
# Convert pandas DataFrame to Surprise dataset
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)

In [7]:
# Split the data into training and testing sets KNNBasic
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

In [8]:
# Using User-based Collaborative Filtering
sim_options = {
    'name': 'cosine',  # can also try 'pearson'
    'user_based': False  # True = user-based, False = item-based
}

model = KNNBasic(sim_options=sim_options)
model.fit(trainset)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [9]:
# Make predictions
predictions = model.test(testset)

# Compute RMSE
rmse = accuracy.rmse(predictions)
print("✅ Model evaluation complete. RMSE:", rmse)

RMSE: 0.9799
✅ Model evaluation complete. RMSE: 0.979853421872011